.products {
  display: block;
  list-style-type: none;
}

.productsName {
  display: block;
  list-style-type: none;
}

.column {
  float: left;
  padding: 10px;
    display: inline-block;
}

.col3 {
    padding-bottom: 200px;
}
.col2 {
  padding-bottom: 200px;
  text-align: center;
}

ul.productsName li{
  font-size: 20px;
  padding: 40px;
  padding-bottom: 300px;
  font-weight: bold;
}

ul.products li{
  font-size: 20px;
  padding: 40px;
  padding-bottom: 300px;
}

   ul.top-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }

  ul.top-links li {
    float: right;
  }

  ul.top-links li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    padding-right: 30px;
    padding-left: 30px;
    text-decoration: none;
}

  ul.top-links li a:hover {
    background-color: #111111;
}
